vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Oct 2012 02:14:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|employees/succawgl.html CurrentStudents/DegreeRequirements.html CurrentStudents/Courses.html Laboratory/Labels/labels_and_labeling.html photo_gallery/default.html products/default.html employees/gclarkson.html contact/mainContact.html employees/staff.html information_links/default.html Laboratory/Safety/labsafety.html services/default.html default.html about/AboutUs.html Alumni/default.html calendar/default.html CurrentStudents/default.html employment/default.html news/default.html Parents/default.html employees/pbryant.html FutureStudents/default.html Partners/default.html site_map/HPSiteMap.html master.dwt faq/default.html press/default.html promotions/default.html
vti_author:SR|Matthew-PC\\Matthew
vti_modifiedby:SR|Matthew-PC\\Matthew
vti_timecreated:TR|09 Oct 2012 18:49:43 -0000
vti_cacheddtm:TX|10 Oct 2012 02:14:37 -0000
vti_filesize:IR|3500
vti_cachedlinkinfo:VX|S|mainbk.png S|mainbk.png S|mainbk.png S|arrowsub.gif
vti_cachedsvcrellinks:VX|FSUS|default_files/css3menu1/mainbk.png FSUS|default_files/css3menu1/mainbk.png FSUS|default_files/css3menu1/mainbk.png FSUS|default_files/css3menu1/arrowsub.gif
